/* .App {
 
} */

.ShoppingCart {
  margin-top: 12px;
}
.ShoppingCart .card-body {
  min-height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Product {
  margin-top: 12px;
  margin-bottom: 12px;
}
.Product .image {
  position: relative;
}

.Product .image .image-products {
  object-fit: contain;
  max-height: 150px;
}

@media (max-width: 600px) {
  .ShoppingCart .card-body {
    min-height: 22.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}