/* .App {
 
} */

.ShoppingCart {
  margin-top: 12px;
}
.ShoppingCart .card-body {
  min-height: 72.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Product {
  margin-top: 12px;
  margin-bottom: 12px;
}

.image-products {
  object-fit: contain;
  max-height: 150px;
}